<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Angular Training
    <a href="https://angular.io/"> Angular Framework</a>
  </div>
</footer>
