
<div class="card ">
  <div *ngFor="let m of message" >
      <div class="card-header">
         Something
      </div>
      <div class="card-body">
        <p class="card-text">{{m.dateStart}}</p>
        <p class="card-text">{{m.dateEnd}}</p>
        <p class="card-text">{{m.customerName}}</p>
      </div>
    </div>
</div>