
<div class="container-fluid">
  <div class="row p-5">
    <!-- As a link -->
    <nav class="col-12 navbar navbar-light bg-light">
      <div><h1>{{ title }}</h1></div>
      <div><h6>{{ today | date:'medium' }}</h6></div>
      
      <div *ngIf = "hide" class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{user}}
          </a>
        
          <div  class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" (click) = "logOut()">Logout</a>
          </div>
        </div>
    </nav>
  </div>
</div>
