.container{
    height: 70vh;
}
.mat-card{
    padding: 60px;
}
.form-signin{
    width: 500px;
}
.btn-primary{
    background-color: #e91e63;
    border-color: #e91e63;
}
.grey{
    background-color: #303030;
}