
<div class="container-fluid">
    <app-status-bar></app-status-bar>
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
            
          <div class="col-12 p-5 grey">
      
      <!--Template driven form-->
        <form #f="ngForm" class="form-signin">
          <h1 class="h3 mb-3 font-weight-normal text-light">Login</h1>
         
          <div class="form-group" [ngClass]="{
              'border-danger': userName.invalid && (userName.dirty || userName.touched),
              'border-success': userName.valid && (userName.dirty || userName.touched)}">
            <label class="text-light">User Name</label>
            <input type="text" class="form-control" name="user" [(ngModel)]="model.userName" required #userName="ngModel">
            <div class="form-control-feedback" *ngIf="userName.errors && (userName.dirty || userName.touched)">
              <p class="alert-danger" *ngIf="userName.errors.required">Please enter your User Name</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{
            'border-danger': userName.invalid && (userName.dirty || userName.touched),
            'border-success': userName.valid && (userName.dirty || userName.touched)}">
            <label class="text-light">Password</label>
            <input type="text" class="form-control" name="password" [(ngModel)]="model.pass" required #password="ngModel">
            <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
              <p class="alert-danger" *ngIf="password.errors.required">Please enter your Password</p>
            </div>
          </div>
          
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" (click)="login()" type="submit" [disabled]="f.invalid">Sign in</button>
          </div>
          <div class="form-group" style="display: none" #divMessage>
            <div class="alert alert-danger" role="alert">
              Invalid Credentials. Try again.
            </div>
          </div>
        </form>
      
          </div>
        </div>
      </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-messages.js"></script>