<app-status-bar></app-status-bar>
<div class="container">
  <div class="row text-center mt-5">
    <div class="col-6">
      <h1>CARS</h1>
      <ul>
        <app-car *ngFor="let car of cars" [carInfo]="car">
        </app-car>
      </ul>
    </div>
    <div class="col-6">
        <app-reservation></app-reservation>
    </div>

  </div>
</div>