<app-status-bar></app-status-bar>
<div class="container">
  <div class="row text-center mt-5">
    <div class="col-6">
      <button routerLink = 'cars' type="button" class="btn btn-primary">CARS</button>
    </div>
    <div class="col-6">
      <button routerLink = 'customer' type="button" class="btn btn-primary">Customer</button>
    </div>

  </div>
</div>