<div class="container">
  <div class="row">
      <div class="col-12">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/needforspeed.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{carInfo.mark}}</h5>
                <p class="card-text">{{carInfo.model}}</p>
                <p class="card-text">{{carInfo.status}}</p>
                <a class="btn btn-primary" (click)="newMessage()">History Reservation</a>
              </div>
            </div>
      </div>
  </div>
</div>

